<section class="container">
  <p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>  

    <% @posts.each do |post| %>
      <tr>        
        <td><span>Post By: <strong><%= loged_user(post)%></strong></span> => <%= post.content %></td>
        <td><%= is_current_user(post) %></td> 
      </tr>
    <% end %>  
   
    <p class="after"><strong><%= sign_in_user %></strong></p>
    
  </tbody>
</table>
<%= link_to 'New Post', new_post_path, :class => "links, try" %>

</section>