<section class="container">
  <p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if user_signed_in?%>

    <% @posts.each do |post| %>
      <tr>
        
        <td><span>Post By: <strong><%= post.user.name%></strong></span> => <%= post.content %></td>
        <% if current_user == post.user%>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
    <div class="ctn"><%= link_to 'New Post', new_post_path, :class => "links, try" %></div>
   <% else %>
    <p class="after"><strong>Sign Up or Sign In to see who posted!!!</strong></p>
    <% @posts.each do |post| %>
      <tr class="wow">
        <td class="yea"><span>John Doe: <%= post.content%></span></td>
      </tr>
    <%end%>
  <% end %>
  </tbody>
</table>

</section>